
.body {
    width: 60%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    background-image: url("images/woodpanel_serverlist.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 3em;
}

.body > h1 {
    text-align: center;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

.buttons > * {
    font-family: norse;
    color: white;
    font-size: 2em;
    text-shadow: #000 1px 1px 0px,#000 -1px 1px 0px,#000 1px -1px 0px,#000 -1px -1px 0px;
    background-image: url("images/button.png");
    background-size: contain;
    background-repeat: no-repeat;
    text-align: center;
    width: 200px;
    height: 60px;
    margin: 0 1em 0 1em;
    z-index: 5;
}

/* Pick for me button */
.buttons > div:nth-child(2){
    margin-right: 0;    
}

.buttons > div:nth-child(1){
    margin-left: 0;
}
/* This code made a gap between the health list and other buttons, so I removed it */
/* .buttons > *:nth-child(1) > div{
    height: 100%;
} */
@media only screen and (max-width: 1050px) {
    .body {
      background-color: green;
    }
  }
@media only screen and (max-width: 768px) {
    .body {
      width: 100%;
      background-color: yellow;
    }
  }
  @media only screen and (max-width: 630px) {
    .body {
      width: 100%;
      background-color: red;
    }
  }