
.body {
    width: 60%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    background-image: url("images/woodpanel_serverlist.png");
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 3em;
}

.body > h1 {
    text-align: center;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

.buttons > * {
    background-image: url("images/button.png");
    background-size: contain;
    background-repeat: no-repeat;
    text-align: center;
    width: 20%;
    height: 3.5em;
    margin: 0 1em 0 1em;
    z-index: 5;
    padding: .75em;
}

/* Pick for me button */
.buttons > div:nth-child(2){
    margin-right: 0;    
}

.buttons > div:nth-child(1){
    margin-left: 0;
}

.buttons > *:nth-child(1) > div{
    height: 100%;
}
