
.body {
    width: 80%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    background-image: url("images/woodpanel_serverlist.png");
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 3em;
}

.body > h1 {
    text-align: center;
}
