/* Styles for the food list */

.listStyle {
    overflow-y: scroll;
    height: 40em;
    /* width: 80%; */
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    box-shadow: 1px 1px 10px; /* Temporary */
}

.listStyle::-webkit-scrollbar {
    display: none;
}