/* Styles for the food list */

.listStyle {
    overflow-y: scroll;
    height: 45%;
    /* width: 80%; */
    display: flex;
    flex-flow: row wrap;
    justify-content:center;
    box-shadow: 1px 1px 10px; /* Temporary */
    background-image: url(images/FoodsBackPanel.png);
    background-size:100% 100%;
}

.listStyle::-webkit-scrollbar {
    display: none;
}