.main {
    display: flex;
    justify-content: center;
    height: 15em;
    box-shadow: 1px 1px 10px; /* Temporary */
    background-image: url(images/SelectionBackPanel.png);
    background-repeat: no-repeat;
    background-size:100% 100%;
}