/* Styles for SelectedFood.js */

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15em;
    box-shadow: 1px 1px 10px;
    background-image: url(images/FoodsBackPanelSmall_Version.png);
    background-repeat: no-repeat;
    background-size:100% 100%;
    border-radius: .25em;
}

/* Mobile styles */
@media only screen and (max-width: 1050px) {
    .main > div > div:nth-child(2) {
        width: 6em;
        height: 6em;
    }
    .main{
        height: 11em;
    }
    .main > div > div:nth-child(2) > div:nth-child(2) {
        margin: 0;
        background-color: red;
    }
}

@media only screen and (max-width: 450px) {

    .main > div > div:nth-child(2) {
        width: 3em;
        height: 3em;
        margin-left: 1em; 
        margin: 0;
        margin-left: auto;
        margin-right: auto;
    }

    .main {
        padding-top: .4em;
        height: 5em;
    }
}