@font-face {
    font-family: norse;
    src: local("Norse"),
        url("./fonts/Norse/norse.bold.otf");
}

.DropDownContainer {
    cursor: pointer;
    font-family: norse;
    color: white;
    text-shadow: #000 1px 1px 0px,#000 -1px 1px 0px,#000 1px -1px 0px,#000 -1px -1px 0px;
}

.listItems{
    cursor: pointer;
    font-family: norse;
    color: white;
    background-image: url("images/crafting_panel.png");
    background-size: 100% 100%;
    list-style-type: none;
    padding-inline-start: 0;
    text-shadow: #000 1px 1px 0px,#000 -1px 1px 0px,#000 1px -1px 0px,#000 -1px -1px 0px;
}
/* .listItems > li {
    background-image: url("images/button.png");
    background-size:100% 100%;
} */