@font-face {
    font-family: norse;
    src: local("Norse"),
        url("./fonts/Norse/norse.bold.otf");
}

.barStyles{
    width: 100%;
    padding: 1em;
    display: flex;
}

.statContainer {
    flex-grow: 1;
    text-align: center;
    font-family: norse;
    font-size: 2em;
}

.barContainer {
    flex-grow: 20;
    padding-top: .5em;
}

.progressBarRed, .progressBarYellow{
    height: 2em;
}

.progressBarRed > div {
    background-color: red;
}

.progressBarYellow > div {
    background-color: yellow;
}