
.barStyles{
    width: 100%;
    padding: 1em;
    display: flex;

}

.statContainer {
    flex-grow: 1;
    text-align: center;
}

.barContainer {
    flex-grow: 20;
}

.progressBar {
    background-color: rgba(0, 0, 0, 0);
}

.progressBarRed > div {
    background-color: red;
}

.progressBarYellow > div {
    background-color: yellow;
}