
@font-face {
    font-family: norse;
    src: local("Norse"),
        url("./fonts/Norse/norse.bold.otf");
}

.main {
    display: block; 
    width: 5em;
    height: 5em;
    cursor: pointer;
    background-image: url(images/panel_interior_bkg_128.png);
    background-repeat: no-repeat;
}

.main > p{
    position: relative;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 2;
    font-family: norse;
}

.main > img {
    position: relative;
    top: 0%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.visible {
    visibility: visible;
}

.invisible {
    visibility: hidden;
}